.AboutMe {
  color: #282c34;
}

.profile-image {
  border-radius: 50%;
  border: 5px solid #2d424d;
  align-self: center;
  height: 40vh;
}

.AboutMe p {
  width: 80vw;
}

.AboutMe a {
  color: #2fc18c;
  text-decoration: none;
}
