.AboutMe {
  color: #282c34;
}

.logo-image {
  align-self: center;
  height: 40vh;
}

.AboutMe p {
  width: 80vw;
}

.trybe {
  color: #2fc18c;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .logo-image {
    height: 20vh;
  }
}
