.Skills {
  background-color: #2d424d;
  color: #e9ebed;
  margin-top: 0;
}

.my-skils {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}

.my-skils img {
  max-height: 50vh;
}

.my-skils h3 {
  text-align: center;
}

.stack {
  display: flex;
  align-items: center;
  gap: 10PX;
  justify-content: center;
  text-align: center;
}

.rocket {
  align-self: flex-end;
  /* margin: auto 0; */
}

.skill {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.skill img {
  height: 30px;
}

.skill p {
  margin: 10px;
}

@media screen and (max-width: 450px) {
  .my-skils {
    flex-direction: column;
  }

  .flex-order-2 {
    order: 3;
  }
}
